:root {
    --dark-gray:#282828;
    --dark-blue:#141922;
    --dark-black:#080B12;
    --pure-black:#000000;
    --green:#9AE22D;
    --gray:#7D7F84;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
	color: currentColor;
	text-decoration: none;
}
ul,
ol,
menu {
	list-style: none;
}

img {
	max-width: 100%;
}

figure > img {
	width: 100%;
	display: block;
}

/* APP  */
#app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container-main{
    flex-grow: 1;
    display: flex;

}
.app-content{
    flex-grow: 1;
}
/* debug */
.debug #app{
    padding: 20px;
    border: green solid 2px;
}
.debug .container{
    padding: 20px;
    border: blue solid 2px;
}
.debug .player{
    padding: 20px;
    border: violet solid 2px;
}
.debug .app-content{
    padding: 20px;
    border: red solid 2px;
}
.debug .aside{
    padding: 20px;
    border: darkcyan solid 2px;
}