:root {
    --dark-gray:#282828;
    --dark-blue:#141922;
    --dark-black:#080B12;
    --pure-black:#000000;
    --green:#9AE22D;
    --gray:#7D7F84;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
	color: currentColor;
	text-decoration: none;
}
ul,
ol,
menu {
	list-style: none;
}

img {
	max-width: 100%;
}

figure > img {
	/* width: 100%; */
	display: block;
}
/* utility class  */
.text-size-20{
    font-size: 20px;
}
.text-size-30{
    font-size: 30px;
}
.text-xs {
    font-size: 14px;
}
.margin-left-10{
    margin-left: 10px;
}
.color-black{
    color: #000000;
}
.flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.gap-10{
    gap: 10px;
}
.margin-bottom10{
    margin-bottom: 10px;
}


/* APP  */
#app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
}
.container-main{
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    
}

/* ASIDE  */
.aside{
    width: 50px;
    flex-shrink: 0;
    overflow: hidden;
    background-color: var(--pure-black);
}
.aside-header img{
    padding: 5px 10px;
    
}
.logo-full{
    display: none;
    width: 70%;
    margin-top: 10px;
}
.aside-header__page img {
    width: 50px;
}
.aside-header__page{
    /* width: 50px; */
    display: flex;
    align-items: center;
}
.container-aside{
    margin: 0 10px;
    margin-top: 20px;
}
.playlist-header{
    text-transform: uppercase;
}
.aside-playlist{
    display: none;
}

/* button create +  */

.playlist-create-button{
    background-color: gray;
    width: 36px;
    aspect-ratio: 1;
    position: relative;

}
.playlist-create-button i {
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



/* APP CONTENT  */
.app-content{
    flex-grow: 1;
    background-color: var(--dark-blue);
}

/* Player  */
.player{
    background-color: var(--dark-gray);
    color: white;
    display: flex;
    overflow: hidden;
    padding: 20px 10px;
    
}
/* .current-song-action{
    /* display: flex;
    flex-direction: column;
    gap: 4px; 
}*/


.player-item img {
    
    width: 28px;
    aspect-ratio: 1;
}
.player-item{
    display: flex;
    align-items: center;
}
.author-song{
    font-size: 16px;
    font-weight: 600;
}
.name-song{
    font-size: 14px;
    font-weight: 400;
    color: var(--gray);
}
.current-song-data{
    line-height: 1.2;
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
/* secondo elemento  */
.time-line{
    /* display: flex;
    flex-direction: column; */
    margin: 0 8px;
    width: 40%;
}
.time-line-action{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.time-line-bar{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
/* barra  */
.bar-total{
    /* height: 8px; */
    
    background-color: #5A5A5A;
    margin: 0 10px;
    border-radius: 50px;
    position: relative;
}
.bar-player{
    width: 100%;
    max-width: 400px;
}
.bar-volume{
    height: 8px;
    width: 5vw;
    max-width: 150px;
}
.bar-current{
    height: 8px;
    width: 15%;
    background-color: #C1C1C1;
    border-radius: 50px;
}
.progress-handler{
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 999px;
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.bar-total:hover .progress-handler{
    display: block;
}
.bar-total:hover .bar-current {
	background-color: var(--green);
}

/* terzo elemento  */
.action{
    align-items:center;
    gap: 15px;
   
    
}
.volume{
    display: flex;
    align-items: center;
    /* width: 80%; */
    /* min-width: 85px; */
    /* flex-grow: 1; */
}
/* MEDIA  */
/* Small devices */

@media (min-width: 576px) {
    .player{
        justify-content: space-between;
     }  
}

/* Medium devices  */

@media (min-width: 768px) { 
  .aside{
    width: 230px;
  }
  .player-item img {
    
    width: 45px;
    aspect-ratio: 1;
    }
    .logo-full,
    .aside-playlist{
        display: block;
    }
    .logo-small{
        display: none;
    } 
}

/* Large devices  */

@media (min-width: 992px) { 
 
}

/* x-large devices  */
@media (min-width: 1200px) { 
    
}
/* debug */
.debug #app{
    padding: 20px;
    border: green solid 2px;
}
.debug .container{
    padding: 20px;
    border: blue solid 2px;
}
.debug .player{
    padding: 20px;
    border: violet solid 2px;
}
.debug .app-content{
    padding: 20px;
    border: red solid 2px;
}
.debug .aside{
    padding: 20px;
    border: darkcyan solid 2px;
}