:root {
    --dark-gray:#282828;
    --dark-blue:#141922;
    --dark-black:#080B12;
    --pure-black:#000000;
    --green:#9AE22D;
    --gray:#7D7F84;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
	color: currentColor;
	text-decoration: none;
}
ul,
ol,
menu {
	list-style: none;
}

img {
	max-width: 100%;
}

figure > img {
	/* width: 100%; */
	display: block;
}
/* utility class  */
.text-size-20{
    font-size: 20px;
}
.text-size-30{
    font-size: 30px;
}
.text-xs {
    font-size: 14px;
}
.fx-direction-column{
    display: flex;
    flex-direction: column;
}
/* APP  */
#app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container-main{
    flex-grow: 1;
    display: flex;
    
}
.app-content{
    flex-grow: 1;
}
/* Player  */
.player{
    background-color: var(--dark-gray);
    color: white;
    display: flex;
    
}

.player-item img {
    width: 30px;
    aspect-ratio: 1;
}
.player-item{
    display: flex;
}
.author-song{
    font-size: 16px;
    font-weight: 600;
}
.name-song{
    font-size: 14px;
    font-weight: 400;
}
.current-song-data{
    line-height: 1.2;
    margin-left: 10px;
    margin-right: 20px;
}
/* secondo elemento  */
.time-line{
    /* display: flex;
    flex-direction: column; */
    margin: 0 8px;
    width: 40%;
}
.time-line-action{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.time-line-bar{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
/* barra  */
.bar-total{
    height: 5px;
    
    background-color: #5A5A5A;
    margin: 0 10px;
    border-radius: 50px;
}
.bar-player{
    width: 100%;
    max-width: 400px;
}
.bar-volume{
    
    width: 5vw;
    max-width: 150px;
}
.bar-current{
    height: 3px;
    width: 15%;
    background-color: #C1C1C1;
    border-radius: 50px;
}
/* terzo elemento  */
.action{
    align-items:center;
    gap: 15px;
   
    
}
.volume{
    display: flex;
    align-items: center;
    /* width: 80%; */
    /* min-width: 85px; */
    /* flex-grow: 1; */
}
/* MEDIA  */
/* Small devices */

@media (min-width: 576px) {
    .player{
        justify-content: space-between;
     }  
}

/* Medium devices  */

@media (min-width: 768px) { 
   
}

/* Large devices  */

@media (min-width: 992px) { 
 
}

/* x-large devices  */
@media (min-width: 1200px) { 
    
}
/* debug */
.debug #app{
    padding: 20px;
    border: green solid 2px;
}
.debug .container{
    padding: 20px;
    border: blue solid 2px;
}
.debug .player{
    padding: 20px;
    border: violet solid 2px;
}
.debug .app-content{
    padding: 20px;
    border: red solid 2px;
}
.debug .aside{
    padding: 20px;
    border: darkcyan solid 2px;
}